<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                <img src="static/assets/images/logo.png" alt="Logo tesla" class="navbar-brand-img brand-md" id="logo">
            </a>
        </div>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="/">
                    <i class="fe fe-home fe-16"></i>
                    <span class="ml-3 item-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="/products">
                    <i class="fe fe-layers fe-16"></i>
                    <span class="ml-3 item-text">Products</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="/teams">
                    <i class="fe fe-users fe-16"></i>
                    <span class="ml-3 item-text">Teams</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="/metadatas">
                    <i class="fe fe-settings fe-16"></i>
                    <span class="ml-3 item-text">Metadatas</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
