<!doctype html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body class="vertical  light  ">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/sidebar') %>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Welcome, admin</strong> to tesla administrator
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <span class="h2 mb-0">50</span>
                                        <p class="small text-muted mb-0">Total Products</p>
                                    </div>
                                    <div class="col-auto">
                                        <span class="fe fe-32 fe-layers text-muted mb-0"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <span class="h2 mb-0">50</span>
                                        <p class="small text-muted mb-0">Total Teams</p>
                                    </div>
                                    <div class="col-auto">
                                        <span class="fe fe-32 fe-users text-muted mb-0"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h2 class="mb-4 mt-4 page-title text-center">Users Reviews</h2>
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="reviewsDataTable">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Stars</th>
                                            <th>Comments</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>johndoe@mail.com</td>
                                            <td>
                                                <i class="fe fe-star text-warning"></i>
                                                <i class="fe fe-star text-warning"></i>
                                                <i class="fe fe-star text-warning"></i>
                                            </td>
                                            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</td>
                                            <td>11 July 2022</td>
                                            <td>
                                                <button type="button"
                                                    class="btn btn-sm btn-success text-white">Active</button>
                                            </td>
                                            <td>
                                                <a href="#"> <i class="fe fe-eye text-primary fe-16 mx-1"></i></a>
                                                <a href="#"> <i class="fe fe-trash-2 text-danger fe-16 mx-1"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>johndoe@mail.com</td>
                                            <td>
                                                <i class="fe fe-star text-warning"></i>
                                                <i class="fe fe-star text-warning"></i>
                                                <i class="fe fe-star text-warning"></i>
                                            </td>
                                            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</td>
                                            <td>11 July 2022</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger">Deactive</button>
                                            </td>
                                            <td>
                                                <a href="#"> <i class="fe fe-eye text-primary fe-16 mx-1"></i></a>
                                                <a href="#"> <i class="fe fe-trash-2 text-danger fe-16 mx-1"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- .col-12 -->
                </div>
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <%- include('partials/footer') %>
    <script>
        // DataTables
        $('#reviewsDataTable').DataTable({
            autoWidth: true,
        });
    </script>
    <!-- App JS -->
    <script src="static/js/apps.js"></script>
</body>

</html>