<!doctype html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body class="vertical  light  ">
    <div class="wrapper">
        <%- include('partials/navbar') %>
        <%- include('partials/sidebar') %>
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-2 page-title">Products</h2>
                        <div class="row my-4">
                            <!-- Small table -->
                            <div class="col-md-12">
                                <div class="card shadow">
                                    <div class="card-header">
                                        <button type="button" class="btn mb-2 btn-primary" data-toggle="modal"
                                            data-target="#productModal" data-backdrop="static"
                                            data-keyboard="false"><span class="fe fe-plus fe-16 mr-2"></span>Add
                                            New Product</button>
                                    </div>

                                    <div class="card-body">
                                        <!-- table -->
                                        <table class="table datatables" id="productsDataTable">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Tesla Motors</td>
                                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                        Praesentium accusamus veniam illum voluptate debitis, temporibus
                                                        placeat porro vero, reiciendis, possimus nulla quam
                                                        necessitatibus neque fuga odit id atque magnam fugiat.</td>
                                                    <td>
                                                        <a href="#"> <i
                                                                class="fe fe-eye text-primary fe-16 mx-1"></i></a>
                                                        <a href="#"> <i
                                                                class="fe fe-edit text-warning fe-16 mx-1"></i></a>
                                                        <a href="#"> <i
                                                                class="fe fe-trash-2 text-danger fe-16 mx-1"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- simple table -->
                        </div>
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
            <!-- Modal -->
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalTitle">Add New Product
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Name" required>
                                        <div class="invalid-feedback"> Please use a valid
                                            name</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <p>Thumbnail</p>
                                        <img id="image" class="d-none mb-3" src="" alt="your image"
                                            style="max-width:600px;" />
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="thumbnail"
                                                onchange="readURL(this);" required>
                                            <label class="custom-file-label" for="thumbnail">Choose
                                                file...</label>
                                            <div class="invalid-feedback">Please choose a valid
                                                file</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" placeholder="Description" required=""
                                            rows="3"></textarea>
                                        <div class="invalid-feedback"> Please enter a
                                            description in the textarea. </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn mb-2 btn-primary">Save
                                changes</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <%- include('partials/footer') %>
    <script>
        // DataTables
        $('#productsDataTable').DataTable({
            autoWidth: true,
        });

        // Preview image
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').removeClass("d-none");
                    $('#image')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        // Form validation
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
    <script src="static/js/apps.js"></script>
</body>

</html>
